/* stylesheet based on http://www.alistapart.com/articles/taminglists/ */
@CHARSET "UTF-8";

#inline-list {
	border: 0px solid #000;
	margin: 0em;
	width: 80%; //
	width: 120px;
	right: ; //
	text-align: right;
	padding: 0px;
	font-family: Verdana, sans-serif;
}

#inline-list p {
	display: inline;
}

#inline-list ul,#inline-list li {
	display: inline;
	margin: ;
	padding: ;
	color: #339;
	font-weight: bold;
}

#inline-list ul li:after {
	content: ", ";
}

#inline-list ul li.beforelast:after {
	content: " en ";
}

#inline-list ul li.last:after {
	content: " ";
}